@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #998675;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 950px;
}

#pu1687
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1687
{
	z-index: 2;
	width: 767px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u1690
{
	z-index: 7;
	width: 50px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 600px;
}

#u1678
{
	z-index: 3;
	width: 120px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1678_position_content
{
	margin-top: -2px;
	margin-bottom: 159px;
}

#u1682
{
	z-index: 4;
	width: 130px;
}

#u1696
{
	z-index: 6;
	width: 100px;
	height: 48px;
	margin-left: 10px;
	margin-top: 76px;
}

.ie #u1696
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1688
{
	z-index: 10;
	width: 80px;
	height: 80px;
	margin-left: 20px;
	margin-top: 69px;
}

#u1688.MuseLinkActive
{
	margin: 69px 0px 0px 20px;
}

#u1685
{
	z-index: 11;
	width: 80px;
	height: 61px;
	margin-left: 20px;
	margin-top: 78px;
}

#u1694
{
	z-index: 12;
	width: 80px;
	height: 80px;
	margin-left: 20px;
	margin-top: 78px;
}

#u1685.MuseLinkActive,#u1694.MuseLinkActive
{
	margin: 78px 0px 0px 20px;
}

#u1692
{
	z-index: 13;
	width: 80px;
	height: 41px;
	margin-left: 20px;
	margin-top: 88px;
}

#u1692.MuseLinkActive
{
	margin: 88px 0px 0px 20px;
}

#u1680
{
	z-index: 9;
	width: 80px;
	height: 79px;
	margin-right: -10000px;
	margin-top: 139px;
	left: 20px;
}

#u1680.MuseLinkActive
{
	margin: 139px -10000px 0px 0px;
}

#pamphletu1705
{
	z-index: 22;
	width: 0.01px;
	height: 481px;
	padding-bottom: 13px;
	margin-right: -10000px;
	margin-top: 203px;
	left: 148px;
}

#u1706
{
	z-index: 23;
	width: 181px;
	margin-right: -10000px;
	margin-top: 461px;
	left: 9px;
}

#u1709
{
	width: 59px;
	padding-bottom: 13px;
	top: -12px;
	left: -9px;
}

#u1709:hover
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1709:active
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1710-4
{
	z-index: 25;
	width: 40px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 8px;
}

#u1709:hover #u1710-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1709:active #u1710-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1711
{
	width: 59px;
	padding-bottom: 13px;
	top: -12px;
	left: 60px;
}

#u1709.PamphletThumbSelected,#u1711:hover
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1711:active
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1712-4
{
	z-index: 30;
	width: 40px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#u1709.PamphletThumbSelected #u1710-4,#u1711:hover #u1712-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1711:active #u1712-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1707
{
	width: 59px;
	padding-bottom: 13px;
	top: -12px;
	left: 130px;
}

#u1711.PamphletThumbSelected,#u1707:hover
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1707:active
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1707.PamphletThumbSelected
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1708-4
{
	z-index: 35;
	width: 40px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#u1711.PamphletThumbSelected #u1712-4,#u1707:hover #u1708-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1707:active #u1708-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1707.PamphletThumbSelected #u1708-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1722popup
{
	z-index: 39;
}

#u1722
{
	width: 592px;
}

#u1727
{
	z-index: 40;
	width: 590px;
	height: 425px;
	margin-right: -10000px;
}

#u1728-12
{
	z-index: 41;
	margin-right: -10000px;
	margin-top: 23px;
	left: 9px;
}

#u1723
{
	z-index: 53;
	width: 590px;
	height: 425px;
	margin-right: -10000px;
}

#u1724-5
{
	z-index: 54;
	margin-right: -10000px;
	margin-top: 23px;
	left: 8px;
}

#u1725
{
	z-index: 59;
	width: 590px;
	height: 425px;
	margin-right: -10000px;
}

#u1726-5
{
	z-index: 60;
	margin-right: -10000px;
	margin-top: 23px;
	left: 7px;
}

#u1679-4
{
	z-index: 18;
	margin-bottom: -1048px;
	width: 149px;
	margin-right: -10000px;
	margin-top: 2003px;
	left: 216px;
}

#u1684-4
{
	z-index: 14;
	margin-bottom: -1048px;
	width: 135px;
	margin-right: -10000px;
	margin-top: 2003px;
	left: 400px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -2002px;
}

