@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #998675;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 950px;
}

#u1687
{
	z-index: 2;
	width: 768px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u2954
{
	z-index: 74;
	margin-right: -10000px;
	margin-top: 30px;
	left: 145px;
}

#u1690
{
	z-index: 7;
	width: 59px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 601px;
}

#u1678
{
	z-index: 3;
	width: 120px;
	margin-right: -10000px;
}

#u1678_position_content
{
	margin-bottom: 1001px;
}

#u1682
{
	z-index: 4;
}

#u1696
{
	z-index: 6;
	width: 100px;
	height: 48px;
	margin-left: 10px;
	margin-top: 67px;
}

#u1680
{
	z-index: 10;
	height: 88px;
	width: 89px;
	margin-right: -10000px;
	margin-top: 139px;
	left: 20px;
}

#u1688
{
	z-index: 13;
	height: 89px;
	width: 89px;
	margin-right: -10000px;
	margin-top: 288px;
	left: 20px;
}

#u1685
{
	z-index: 16;
	height: 70px;
	width: 89px;
	margin-right: -10000px;
	margin-top: 445px;
	left: 20px;
}

#u1694
{
	z-index: 19;
	height: 89px;
	width: 89px;
	margin-right: -10000px;
	margin-top: 585px;
	left: 20px;
}

#pamphletu1705
{
	z-index: 21;
	width: 0.01px;
	height: 481px;
	padding-bottom: 13px;
	margin-right: -10000px;
	margin-top: 203px;
	left: 148px;
}

#u1706
{
	z-index: 22;
	width: 181px;
	margin-right: -10000px;
	margin-top: 461px;
	left: 9px;
}

#u1709
{
	width: 59px;
	padding-bottom: 13px;
	top: -12px;
	left: -9px;
}

#u1709:hover
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1709:active
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1710-4
{
	z-index: 24;
	width: 40px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 8px;
}

#u1709:hover #u1710-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1709:active #u1710-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1711
{
	width: 59px;
	padding-bottom: 13px;
	top: -12px;
	left: 60px;
}

#u1709.PamphletThumbSelected,#u1711:hover
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1711:active
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1712-4
{
	z-index: 29;
	width: 40px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#u1709.PamphletThumbSelected #u1710-4,#u1711:hover #u1712-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1711:active #u1712-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1707
{
	width: 59px;
	padding-bottom: 13px;
	top: -12px;
	left: 130px;
}

#u1711.PamphletThumbSelected,#u1707:hover
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1707:active
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1707.PamphletThumbSelected
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1708-4
{
	z-index: 34;
	width: 40px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#u1711.PamphletThumbSelected #u1712-4,#u1707:hover #u1708-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1707:active #u1708-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1707.PamphletThumbSelected #u1708-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1722popup
{
	z-index: 38;
}

#u1722
{
	width: 592px;
}

#u1727
{
	z-index: 39;
	width: 590px;
	height: 432px;
	margin-right: -10000px;
}

#u1728-16
{
	z-index: 40;
	margin-right: -10000px;
	margin-top: 23px;
	left: 9px;
}

#u1723
{
	z-index: 56;
	width: 590px;
	height: 432px;
	margin-right: -10000px;
}

#u1724-8
{
	z-index: 57;
	margin-right: -10000px;
	margin-top: 23px;
	left: 8px;
}

#u1725
{
	z-index: 65;
	width: 590px;
	height: 432px;
	margin-right: -10000px;
}

#u1726-8
{
	z-index: 66;
	margin-right: -10000px;
	margin-top: 23px;
	left: 7px;
}

#pamphletu4419
{
	z-index: 76;
	width: 0.01px;
	height: 39px;
	padding-bottom: 46px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 530px;
}

#u4420popup
{
	z-index: 77;
}

#u4420
{
	width: 180px;
	top: 39px;
}

#u4421
{
	z-index: 78;
	width: 180px;
	height: 46px;
	margin-right: -10000px;
}

#u4422
{
	z-index: 79;
	margin-bottom: -1px;
	width: 154px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 24px;
}

#u4432
{
	z-index: 81;
	width: 50px;
	margin-right: -10000px;
	left: 70px;
}

#u4433
{
	width: 50px;
	height: 39px;
}

.ie #u1696,.ie #u4433
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4433:hover
{
	margin: 0px;
}

.ie #u4433:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4433.PamphletThumbSelected
{
	margin: 0px;
}

.ie #u4433.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#page .verticalspacer
{
	clear: both;
}

