#u2294
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../../images/topnav2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2286
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../../images/leftnav2.jpg") no-repeat left center;
	background-size: cover !important;
}

#u2285
{
	position: relative;
	background: transparent url("../../images/homeicon.png") no-repeat center center;
	background-size: contain !important;
}

#u2288
{
	position: relative;
	background: transparent url("../../images/profileicon.png") no-repeat center center;
	background-size: contain !important;
}

#u2288.MuseLinkActive
{
	background: transparent url("../../images/profileactive320x321.png") no-repeat center center;
	background-size: contain !important;
}

#u2287
{
	position: relative;
	background: transparent url("../../images/messageicon.png") no-repeat center center;
	background-size: contain !important;
}

#u2287.MuseLinkActive
{
	background: transparent url("../../images/messageactive417x320.png") no-repeat center center;
	background-size: contain !important;
}

#u2295
{
	position: relative;
	background: transparent url("../../images/manageaccountsactive321x320.png") no-repeat center center;
	background-size: contain !important;
}

#u2295.MuseLinkActive
{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain !important;
}

#u2283
{
	position: relative;
	background: transparent url("../../images/progreenicon.png") no-repeat center center;
	background-size: contain !important;
}

#u2283.MuseLinkActive
{
	background: transparent url("../../images/progreenactive.png") no-repeat center center;
	background-size: contain !important;
}

#u2289,#u2291,#u2293-4,#u2284-4
{
	position: relative;
}

#u2293-4_img,#u2284-4_img
{
	display: block;
	vertical-align: top;
}

