#u4433.PamphletThumbSelected
{
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u1687
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-color: #000000;
	position: relative;
	background-size: cover !important;
}

#u1678
{
	background: -webkit-gradient(linear, center top, center bottom, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: linear-gradient(to bottom,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=0)";
	border-color: #000000;
	position: relative;
}

#u1680
{
	vertical-align: top;
	background: url("../../images/homeicon-u1680.png") no-repeat 0px 0px;
	position: relative;
}

#u1680.MuseLinkActive
{
	background: url("../../images/homeactive-u1680-a.png") no-repeat 0px 0px;
}

#u1688
{
	vertical-align: top;
	background: url("../../images/profileactive-u1688.png") no-repeat 0px 0px;
	position: relative;
}

#u1688.MuseLinkActive
{
	background: url("../../images/profileactive-u1688-a.png") no-repeat 0px 0px;
}

#u1685
{
	vertical-align: top;
	background: url("../../images/messageicon-u1685.png") no-repeat 0px 0px;
	position: relative;
}

#u1685.MuseLinkActive
{
	background: url("../../images/messageactive-u1685-a.png") no-repeat 0px 0px;
}

#u1694
{
	vertical-align: top;
	background: url("../../images/manageaccountsicon-u1694.png") no-repeat 0px 0px;
	position: relative;
}

#u1694.MuseLinkActive
{
	background: url("../../images/manageaccountsactive-u1694-a.png") no-repeat 0px 0px;
}

#u1692
{
	vertical-align: top;
	background: url("../../images/progreenicon-u1692.png") no-repeat 0px 0px;
	position: relative;
}

#u1692.MuseLinkActive
{
	background: url("../../images/progreenactive-u1692-a.png") no-repeat 0px 0px;
}

#u1709
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#u1709:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#u1709:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
}

#u1710-4
{
	border-color: #DEDEDE;
	background-color: transparent;
	color: #C4C4C4;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1709:hover #u1710-4
{
	border-style: none;
	border-color: transparent;
}

#u1709:active #u1710-4
{
	border-style: none;
	border-color: transparent;
}

#u1709:hover #u1710-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1709:active #u1710-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1711
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#u1711:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#u1711:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
}

#u1712-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #C4C4C4;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1709.PamphletThumbSelected #u1710-4,#u1711:hover #u1712-4
{
	border-style: none;
	border-color: transparent;
}

#u1711:hover #u1712-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1709.PamphletThumbSelected #u1710-4 p,#u1711:active #u1712-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1707
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#u1707:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#u1707:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
}

#u1709.PamphletThumbSelected,#u1711.PamphletThumbSelected,#u1707.PamphletThumbSelected
{
	border-color: #6B6B6B;
	background-color: #F7931E;
}

#u1708-4
{
	border-color: #DEDEDE;
	background-color: transparent;
	color: #C4C4C4;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1707:hover #u1708-4
{
	border-color: #999999;
}

#u1707:active #u1708-4
{
	border-color: #999999;
}

#u1707:hover #u1708-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1711.PamphletThumbSelected #u1712-4 p,#u1707:active #u1708-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1707.PamphletThumbSelected #u1708-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1727
{
	background: -webkit-gradient(linear, center top, center bottom, from(#F15A24),color-stop(100%, #FBB03B));
	background: -webkit-linear-gradient(top,#F15A24 ,#FBB03B 100%);
	background: -moz-linear-gradient(top,#F15A24 ,#FBB03B 100%);
	background: -ms-linear-gradient(top,#F15A24 ,#FBB03B 100%);
	background: -o-linear-gradient(top,#F15A24 ,#FBB03B 100%);
	background: linear-gradient(to bottom,#F15A24 ,#FBB03B 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF15A24, endColorstr=#FFFBB03B, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF15A24', endColorstr='#FFFBB03B', GradientType=0)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
}

#u1723
{
	background: -webkit-gradient(linear, left center, right center, from(#F15A24),color-stop(100%, #F7931E));
	background: -webkit-linear-gradient(left,#F15A24 ,#F7931E 100%);
	background: -moz-linear-gradient(left,#F15A24 ,#F7931E 100%);
	background: -ms-linear-gradient(left,#F15A24 ,#F7931E 100%);
	background: -o-linear-gradient(left,#F15A24 ,#F7931E 100%);
	background: linear-gradient(to right,#F15A24 ,#F7931E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF15A24, endColorstr=#FFF7931E, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF15A24', endColorstr='#FFF7931E', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
}

#u1725
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
}

#u2954,#u1682,#u1728-16,#u1724-8,#u1726-8
{
	display: block;
	vertical-align: top;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1722,#u4420
{
	position: absolute;
}

#u4421
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
}

#u1690_img,#u4422_img
{
	display: block;
	vertical-align: top;
}

#u1690,#u1696,#pamphletu1705,#u1706,#pamphletu4419,#u4422,#u4432
{
	position: relative;
}

#u4433
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u1707.PamphletThumbSelected #u1708-4,#u4433:hover
{
	border-style: none;
	border-color: transparent;
}

