#u4417.PamphletThumbSelected
{
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u2294
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../../images/topnav.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2286
{
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../../images/leftnav.jpg") no-repeat left center;
	background-size: cover !important;
}

#u2285
{
	vertical-align: top;
	background: url("../../images/homeicon-u2285.png") no-repeat 0px 0px;
	position: relative;
}

#u2285.MuseLinkActive
{
	background: url("../../images/homeactive-u2285-a.png") no-repeat 0px 0px;
}

#u2288
{
	vertical-align: top;
	background: url("../../images/profileicon-u2288.png") no-repeat 0px 0px;
	position: relative;
}

#u2288.MuseLinkActive
{
	background: url("../../images/profileactive-u2288-a.png") no-repeat 0px 0px;
}

#u2287
{
	vertical-align: top;
	background: url("../../images/messageicon-u2287.png") no-repeat 0px 0px;
	position: relative;
}

#u2287.MuseLinkActive
{
	background: url("../../images/messageactive-u2287-a.png") no-repeat 0px 0px;
}

#u2295
{
	vertical-align: top;
	background: url("../../images/manageaccountsactive-u2295.png") no-repeat 0px 0px;
	position: relative;
}

#u2295.MuseLinkActive
{
	background: url("../../images/manageaccountsactive-u2295-a.png") no-repeat 0px 0px;
}

#tab-panelu4067
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u4098
{
	background: #F7931E url("../../images/u4098-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#F15A24),color-stop(100%, #F7931E));
	background: -webkit-linear-gradient(top,#F15A24 ,#F7931E 100%);
	background: -moz-linear-gradient(top,#F15A24 ,#F7931E 100%);
	background: -ms-linear-gradient(top,#F15A24 ,#F7931E 100%);
	background: -o-linear-gradient(top,#F15A24 ,#F7931E 100%);
	background: linear-gradient(to bottom,#F15A24 ,#F7931E 100%);
	border-style: solid;
	border-color: #999999;
	position: relative;
	border-width: 1px 0px 1px 1px;
}

#u4100
{
	vertical-align: top;
	background: url("../../images/u4100.png") no-repeat 0px 0px;
	position: relative;
}

#u4098.TabbedPanelsTabSelected #u4100
{
	background: url("../../images/u4100-a.png") no-repeat 0px 0px;
}

#u4102
{
	background: #F7931E url("../../images/u4098-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#F15A24),color-stop(100%, #F7931E));
	background: -webkit-linear-gradient(top,#F15A24 ,#F7931E 100%);
	background: -moz-linear-gradient(top,#F15A24 ,#F7931E 100%);
	background: -ms-linear-gradient(top,#F15A24 ,#F7931E 100%);
	background: -o-linear-gradient(top,#F15A24 ,#F7931E 100%);
	background: linear-gradient(to bottom,#F15A24 ,#F7931E 100%);
	border-style: solid;
	border-color: #999999;
	position: relative;
	border-width: 1px 0px 1px 1px;
}

#u4105
{
	vertical-align: top;
	background: url("../../images/u4105.png") no-repeat 0px 0px;
	position: relative;
}

#u4102.TabbedPanelsTabSelected #u4105
{
	background: url("../../images/u4105-a.png") no-repeat 0px 0px;
}

#u4093
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u4089
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u5057,#u5060
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	background-color: transparent;
	position: relative;
}

#u2928,#u2291,#u4096-9,#u4092-8
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u4404
{
	position: absolute;
}

#u4405
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
}

#u4417
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u4098.TabbedPanelsTabSelected,#u4102.TabbedPanelsTabSelected,#u4417:hover
{
	border-style: none;
	border-color: transparent;
}

.TabbedPanelsTab,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* tabset */
{
	cursor: pointer;
}

#u2289,#u4097,#u4088,#pamphletu4403,#u4406,#u4416,#u5076-4,#u5077-4
{
	position: relative;
}

#u2289_img,#u4406_img,#u5076-4_img,#u5077-4_img
{
	display: block;
	vertical-align: top;
}

