#u1687
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../../images/topnav.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1678
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../../images/leftnav.jpg") no-repeat left center;
	background-size: cover !important;
}

#u1709
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#u1709:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#u1709:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
}

#u1710-4
{
	border-color: #DEDEDE;
	background-color: transparent;
	color: #C4C4C4;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1709:hover #u1710-4
{
	border-style: none;
	border-color: transparent;
}

#u1709:active #u1710-4
{
	border-style: none;
	border-color: transparent;
}

#u1709:hover #u1710-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1709:active #u1710-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1711
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#u1711:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#u1711:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
}

#u1712-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #C4C4C4;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1709.PamphletThumbSelected #u1710-4,#u1711:hover #u1712-4
{
	border-style: none;
	border-color: transparent;
}

#u1711:hover #u1712-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1709.PamphletThumbSelected #u1710-4 p,#u1711:active #u1712-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1707
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#u1707:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#u1707:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
}

#u1709.PamphletThumbSelected,#u1711.PamphletThumbSelected,#u1707.PamphletThumbSelected
{
	border-color: #6B6B6B;
	background-color: #F7931E;
}

#u1708-4
{
	border-color: #DEDEDE;
	background-color: transparent;
	color: #C4C4C4;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1707:hover #u1708-4
{
	border-color: #999999;
}

#u1707:active #u1708-4
{
	border-color: #999999;
}

#u1707.PamphletThumbSelected #u1708-4
{
	border-style: none;
	border-color: transparent;
}

#u1707:hover #u1708-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1711.PamphletThumbSelected #u1712-4 p,#u1707:active #u1708-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1707.PamphletThumbSelected #u1708-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1722
{
	position: absolute;
}

#u1727
{
	background: -webkit-gradient(linear, center top, center bottom, from(#F15A24),color-stop(100%, #FBB03B));
	background: -webkit-linear-gradient(top,#F15A24 ,#FBB03B 100%);
	background: -moz-linear-gradient(top,#F15A24 ,#FBB03B 100%);
	background: -ms-linear-gradient(top,#F15A24 ,#FBB03B 100%);
	background: -o-linear-gradient(top,#F15A24 ,#FBB03B 100%);
	background: linear-gradient(to bottom,#F15A24 ,#FBB03B 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF15A24, endColorstr=#FFFBB03B, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF15A24', endColorstr='#FFFBB03B', GradientType=0)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u1723
{
	background: -webkit-gradient(linear, left center, right center, from(#F15A24),color-stop(100%, #F7931E));
	background: -webkit-linear-gradient(left,#F15A24 ,#F7931E 100%);
	background: -moz-linear-gradient(left,#F15A24 ,#F7931E 100%);
	background: -ms-linear-gradient(left,#F15A24 ,#F7931E 100%);
	background: -o-linear-gradient(left,#F15A24 ,#F7931E 100%);
	background: linear-gradient(to right,#F15A24 ,#F7931E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF15A24, endColorstr=#FFF7931E, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF15A24', endColorstr='#FFF7931E', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u1725
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u1728-12,#u1724-5,#u1726-5
{
	display: block;
	vertical-align: top;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1690,#u1682,#u1696,#u1688,#u1685,#u1694,#u1692,#u1680,#pamphletu1705,#u1706,#u1679-4,#u1684-4
{
	position: relative;
}

#u1679-4_img,#u1684-4_img
{
	display: block;
	vertical-align: top;
}

