#u1845
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../../images/topnav2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1836
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../../images/leftnav2.jpg") no-repeat left center;
	background-size: cover !important;
}

#u2271
{
	position: relative;
	background: transparent url("../../images/profileicon.png") no-repeat center center;
	background-size: contain !important;
}

#u2271.MuseLinkActive
{
	background: transparent url("../../images/profileactive320x321.png") no-repeat center center;
	background-size: contain !important;
}

#u2272
{
	position: relative;
	background: transparent url("../../images/messageactive417x320.png") no-repeat center center;
	background-size: contain !important;
}

#u2272.MuseLinkActive
{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain !important;
}

#u2273
{
	position: relative;
	background: transparent url("../../images/manageaccountsicon.png") no-repeat center center;
	background-size: contain !important;
}

#u2273.MuseLinkActive
{
	background: transparent url("../../images/manageaccountsactive321x320.png") no-repeat center center;
	background-size: contain !important;
}

#u2274
{
	position: relative;
	background: transparent url("../../images/progreenicon.png") no-repeat center center;
	background-size: contain !important;
}

#u2274.MuseLinkActive
{
	background: transparent url("../../images/progreenactive.png") no-repeat center center;
	background-size: contain !important;
}

#u2253_clip,#u2257_clip
{
	overflow: hidden;
}

#u2259-4,#u2260-4,#u2261-4,#u2264-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u2270
{
	position: relative;
	background: transparent url("../../images/homeicon.png") no-repeat center center;
	background-size: contain !important;
}

#u1848,#u1840,#u1854,#u2253,#u2255,#u2257,#u2262,#u1837-4,#u1842-4
{
	position: relative;
}

#u1837-4_img,#u1842-4_img
{
	display: block;
	vertical-align: top;
}

