@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #998675;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 950px;
}

#u1845
{
	z-index: 2;
	width: 767px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u2944
{
	z-index: 38;
	width: 303px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 144px;
}

#u1848
{
	z-index: 7;
	width: 50px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 600px;
}

#u1836
{
	z-index: 3;
	width: 119px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u1836_position_content
{
	margin-top: -1px;
	margin-bottom: 410px;
}

#u1840
{
	z-index: 4;
	width: 130px;
	left: -1px;
}

#u1854
{
	z-index: 6;
	width: 100px;
	height: 48px;
	margin-left: 9px;
	margin-top: 76px;
}

.ie #u1854
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2271
{
	z-index: 34;
	width: 80px;
	height: 80px;
	margin-left: 19px;
	margin-top: 64px;
}

#u2271.MuseLinkActive
{
	margin: 64px 0px 0px 19px;
}

#u2272
{
	z-index: 35;
	width: 80px;
	height: 61px;
	margin-left: 19px;
	margin-top: 78px;
}

#u2273
{
	z-index: 36;
	width: 80px;
	height: 80px;
	margin-left: 19px;
	margin-top: 78px;
}

#u2272.MuseLinkActive,#u2273.MuseLinkActive
{
	margin: 78px 0px 0px 19px;
}

#u2274
{
	z-index: 37;
	width: 80px;
	height: 41px;
	margin-left: 19px;
	margin-top: 88px;
}

#u2274.MuseLinkActive
{
	margin: 88px 0px 0px 19px;
}

#u2253
{
	z-index: 9;
	width: 400px;
	margin-right: -10000px;
	margin-top: 179px;
	left: 128px;
}

#u2255
{
	z-index: 11;
	width: 400px;
	margin-right: -10000px;
	margin-top: 382px;
	left: 376px;
}

#u2257
{
	z-index: 13;
	width: 400px;
	margin-right: -10000px;
	margin-top: 607px;
	left: 128px;
}

#u2253_clip,#u2257_clip
{
	width: 400px;
	height: 223px;
}

#u2253_img,#u2257_img
{
	margin: -4px -7px 4px 7px;
}

#u2259-4
{
	z-index: 15;
	margin-right: -10000px;
	margin-top: 420px;
	left: 403px;
}

#u2260-4
{
	z-index: 19;
	margin-right: -10000px;
	margin-top: 212px;
	left: 171px;
}

#u2261-4
{
	z-index: 23;
	margin-right: -10000px;
	margin-top: 634px;
	left: 171px;
}

#u2262
{
	z-index: 27;
	width: 400px;
	margin-right: -10000px;
	margin-top: 821px;
	left: 376px;
}

#u2264-4
{
	z-index: 29;
	margin-right: -10000px;
	margin-top: 859px;
	left: 403px;
}

#u2270
{
	z-index: 33;
	width: 100px;
	height: 85px;
	margin-right: -10000px;
	margin-top: 129px;
	left: 10px;
}

#u2270.MuseLinkActive
{
	margin: 129px -10000px 0px 0px;
}

#page .verticalspacer
{
	clear: both;
}

