@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 950px;
}

#pu414
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u414
{
	z-index: 2;
	width: 767px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u429
{
	z-index: 7;
	width: 50px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 600px;
}

#u415
{
	z-index: 3;
	width: 119px;
	padding-bottom: 0px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u415_position_content
{
	margin-top: -1px;
	margin-bottom: 1206px;
}

#u416
{
	z-index: 4;
	width: 130px;
	left: -1px;
}

#u418
{
	z-index: 6;
	width: 100px;
	height: 48px;
	margin-left: 9px;
	margin-top: 76px;
}

.ie #u418
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u463
{
	z-index: 11;
	width: 80px;
	margin-left: 19px;
	margin-top: 69px;
}

#u469
{
	z-index: 13;
	width: 80px;
	margin-left: 19px;
	margin-top: 78px;
}

#u475
{
	z-index: 15;
	width: 80px;
	margin-left: 19px;
	margin-top: 78px;
}

#u481
{
	z-index: 17;
	width: 80px;
	margin-left: 19px;
	margin-top: 88px;
}

#u457
{
	z-index: 9;
	width: 80px;
	margin-right: -10000px;
	margin-top: 139px;
	left: 20px;
}

#u1867
{
	z-index: 27;
	width: 400px;
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
	left: 112px;
}

#u1869
{
	z-index: 29;
	width: 400px;
	position: relative;
	margin-right: -10000px;
	margin-top: 365px;
	left: 384px;
}

#u1871
{
	z-index: 31;
	width: 400px;
	position: relative;
	margin-right: -10000px;
	margin-top: 587px;
	left: 112px;
}

#u1867_clip,#u1871_clip
{
	overflow: hidden;
	width: 400px;
	height: 223px;
}

#u1867_img,#u1871_img
{
	margin: -4px -7px 4px 7px;
}

#u1873-4
{
	z-index: 33;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 403px;
	left: 411px;
}

#u1874-4
{
	z-index: 37;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 155px;
}

#u1875-4
{
	z-index: 41;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 614px;
	left: 155px;
}

#u1876
{
	z-index: 45;
	width: 400px;
	position: relative;
	margin-right: -10000px;
	margin-top: 803px;
	left: 384px;
}

#u1878-4
{
	z-index: 47;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 842px;
	left: 411px;
}

#u968-4
{
	z-index: 23;
	width: 149px;
	margin-right: -10000px;
	margin-top: 2003px;
	left: 216px;
}

#u932-4
{
	z-index: 19;
	width: 135px;
	margin-right: -10000px;
	margin-top: 2003px;
	left: 400px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -2002px;
}

