.html
{
	background-color: #998675;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 799px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 20px;
	margin-bottom: -58px;
}

#u1294
{
	z-index: 56;
	width: 243px;
	height: 1530px;
	top: 0px;
	left: 0px;
}

#u1292
{
	z-index: 55;
	width: 1160px;
	height: 160px;
	top: 0px;
	left: 50%;
	margin-left: -50%;
}

#u1288
{
	z-index: 57;
	top: 0px;
	left: 0px;
}

#pamphletu1268
{
	z-index: 79;
	width: 0.01px;
	height: 79px;
	padding-bottom: 75px;
	margin-left: 694px;
}

#u1269popup
{
	z-index: 80;
}

#u1269
{
	width: 333px;
	top: 68px;
}

#u1270
{
	z-index: 81;
	width: 333px;
	height: 85px;
	margin-right: -10000px;
}

#u1271
{
	z-index: 82;
	width: 257px;
	top: 104px;
	left: 50%;
	margin-left: 243px;
}

#u1275
{
	z-index: 84;
	width: 100px;
	margin-right: -10000px;
	left: 116px;
}

#u1276
{
	width: 100px;
	height: 78px;
}

.ie #u1276
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1276:hover
{
	margin: 0px;
}

.ie #u1276:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1276.PamphletThumbSelected
{
	margin: 0px;
}

#u1266
{
	z-index: 70;
	height: 95px;
	width: 118px;
	top: 13px;
	left: 50%;
	margin-left: 321px;
}

#u2896
{
	z-index: 86;
	top: 70px;
	left: 270px;
}

#u1290
{
	z-index: 77;
	height: 66px;
	width: 118px;
	top: 164px;
	left: 63px;
}

#pamphletu1582
{
	z-index: 2;
	width: 0.01px;
	height: 522px;
	padding-bottom: 13px;
	margin-left: 317px;
	margin-top: 70px;
}

#u1585
{
	z-index: 3;
	width: 181px;
	margin-right: -10000px;
	margin-top: 502px;
	left: 10px;
}

#u1588
{
	width: 59px;
	padding-bottom: 13px;
	top: -12px;
	left: 130px;
}

#u1588:hover
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1588:active
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1589-4
{
	z-index: 5;
	width: 40px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#u1588:hover #u1589-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1588:active #u1589-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1590
{
	width: 59px;
	padding-bottom: 13px;
	top: -12px;
	left: -9px;
}

#u1588.PamphletThumbSelected,#u1590:hover
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1590:active
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1591-4
{
	z-index: 10;
	width: 40px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 8px;
}

#u1588.PamphletThumbSelected #u1589-4,#u1590:hover #u1591-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1590:active #u1591-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1586
{
	width: 59px;
	padding-bottom: 13px;
	top: -12px;
	left: 60px;
}

#u1590.PamphletThumbSelected,#u1586:hover
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1586:active
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1586.PamphletThumbSelected
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1587-4
{
	z-index: 15;
	width: 40px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#u1590.PamphletThumbSelected #u1591-4,#u1586:hover #u1587-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1586:active #u1587-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1586.PamphletThumbSelected #u1587-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u1594popup
{
	z-index: 19;
}

#u1594
{
	width: 621px;
}

#u1603
{
	z-index: 20;
	width: 619px;
	height: 455px;
	margin-right: -10000px;
}

#u1604-8
{
	z-index: 21;
	margin-right: -10000px;
	margin-top: 23px;
	left: 7px;
}

#u1599
{
	z-index: 29;
	width: 619px;
	height: 455px;
	margin-right: -10000px;
}

#u1602-16
{
	z-index: 30;
	margin-right: -10000px;
	margin-top: 23px;
	left: 9px;
}

#u1595
{
	z-index: 46;
	width: 619px;
	height: 455px;
	margin-right: -10000px;
}

#u1596-8
{
	z-index: 47;
	margin-right: -10000px;
	margin-top: 23px;
	left: 8px;
}

#u1286
{
	z-index: 60;
	height: 73px;
	width: 132px;
	top: 284px;
	left: 56px;
}

#u1264
{
	z-index: 63;
	height: 71px;
	width: 165px;
	top: 415px;
	left: 40px;
}

#pu1293
{
	width: 0.01px;
	left: -107px;
	top: -227px;
	margin-bottom: -100px;
	position: relative;
}

#u1293
{
	z-index: 65;
	width: 265px;
	height: 58px;
	margin-right: -10000px;
	margin-top: 42px;
}

.ie #u1276.PamphletThumbSelected,.ie #u1293
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1295
{
	z-index: 67;
	height: 118px;
	width: 153px;
	top: 543px;
	left: 46px;
}

#u1285-4
{
	z-index: 72;
	margin-left: 372px;
	margin-top: 62px;
}

body
{
	padding-bottom: 57px;
}

#page .verticalspacer
{
	clear: both;
}

