#u1276.PamphletThumbSelected
{
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u1292
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: fixed;
	background: #FFFFFF url("../images/topnav.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1294
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: fixed;
	background: #FFFFFF url("../images/leftnav.jpg") no-repeat left center;
	background-size: cover !important;
}

#u1270
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
}

#u1276
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1590
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#u1590:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#u1590:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
}

#u1591-4
{
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	color: #93278F;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1276:hover,#u1590:hover #u1591-4
{
	border-style: none;
	border-color: transparent;
}

#u1590:active #u1591-4
{
	border-style: none;
	border-color: transparent;
}

#u1590:hover #u1591-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1590:active #u1591-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1586
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#u1586:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#u1586:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
}

#u1587-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #93278F;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1590.PamphletThumbSelected #u1591-4,#u1586:hover #u1587-4
{
	border-style: none;
	border-color: transparent;
}

#u1586:hover #u1587-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1586:active #u1587-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1588
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#u1588:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#u1588:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
}

#u1590.PamphletThumbSelected,#u1586.PamphletThumbSelected,#u1588.PamphletThumbSelected
{
	border-color: #6B6B6B;
	background-color: #F7931E;
}

#u1589-4
{
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	color: #93278F;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1588:hover #u1589-4
{
	border-color: #999999;
}

#u1588:active #u1589-4
{
	border-color: #999999;
}

#u1588.PamphletThumbSelected #u1589-4
{
	border-style: none;
	border-color: transparent;
}

#u1588:hover #u1589-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1588:active #u1589-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1590.PamphletThumbSelected #u1591-4 p,#u1586.PamphletThumbSelected #u1587-4 p,#u1588.PamphletThumbSelected #u1589-4 p
{
	color: #93278F;
	visibility: inherit;
}

#u1269,#u1594
{
	position: absolute;
}

#u1599
{
	background: -webkit-gradient(linear, center top, center bottom, from(#F15A24),color-stop(100%, #FBB03B));
	background: -webkit-linear-gradient(top,#F15A24 ,#FBB03B 100%);
	background: -moz-linear-gradient(top,#F15A24 ,#FBB03B 100%);
	background: -ms-linear-gradient(top,#F15A24 ,#FBB03B 100%);
	background: -o-linear-gradient(top,#F15A24 ,#FBB03B 100%);
	background: linear-gradient(to bottom,#F15A24 ,#FBB03B 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF15A24, endColorstr=#FFFBB03B, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF15A24', endColorstr='#FFFBB03B', GradientType=0)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
}

#u1595
{
	background: -webkit-gradient(linear, left center, right center, from(#F15A24),color-stop(100%, #F7931E));
	background: -webkit-linear-gradient(left,#F15A24 ,#F7931E 100%);
	background: -moz-linear-gradient(left,#F15A24 ,#F7931E 100%);
	background: -ms-linear-gradient(left,#F15A24 ,#F7931E 100%);
	background: -o-linear-gradient(left,#F15A24 ,#F7931E 100%);
	background: linear-gradient(to right,#F15A24 ,#F7931E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF15A24, endColorstr=#FFF7931E, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF15A24', endColorstr='#FFF7931E', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
}

#u1603
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
}

#u1602-16,#u1596-8,#u1604-8
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u1288,#u1271,#u1266,#u2896,#u1290,#u1286,#u1264,#u1295,#u1283
{
	position: fixed;
}

#pamphletu1268,#u1275,#pamphletu1582,#u1585,#u1293,#u1285-4
{
	position: relative;
}

#u1285-4_img
{
	display: block;
	vertical-align: top;
}

