#u1191.PamphletThumbSelected
{
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u1091
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: fixed;
	background-size: cover !important;
}

#u1071
{
	background: -webkit-gradient(linear, center top, center bottom, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: linear-gradient(to bottom,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=0)";
	border-style: none;
	border-color: transparent;
	position: fixed;
}

#u1199
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
}

#u1089
{
	position: fixed;
}

#u1191
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u1191:hover
{
	border-style: none;
	border-color: transparent;
}

#u1072
{
	vertical-align: top;
	background: url("../images/u1072.png") no-repeat 9px 9px;
	position: fixed;
}

#u1072:hover
{
	background: url("../images/u1072-r.png") no-repeat 0px 0px;
}

#u1072.MuseLinkActive
{
	background: url("../images/u1072-a.png") no-repeat 0px 0px;
}

#u1081,#u2908
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u1085
{
	vertical-align: top;
	background: url("../images/u1085.png") no-repeat 9px 9px;
	position: fixed;
}

#u1085.MuseLinkActive
{
	background: url("../images/u1085-a.png") no-repeat 0px 0px;
}

#u1193,#u1114
{
	position: absolute;
}

#u3565
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background: -webkit-gradient(linear, center top, center bottom, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: linear-gradient(to bottom,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=0)";
	border-width: 1px;
	border-style: solid;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u3530
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background: -webkit-gradient(linear, center top, center bottom, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: linear-gradient(to bottom,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=0)";
	border-width: 1px;
	border-style: solid;
	position: relative;
}

#u3080
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background: -webkit-gradient(linear, center top, center bottom, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: linear-gradient(to bottom,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=0)";
	border-width: 1px;
	border-style: solid;
	position: relative;
}

#u1120
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background: #F15A24 url("../images/u1120-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: linear-gradient(to bottom,#F7931E ,#F15A24 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
}

#u4619
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background: #F15A24 url("../images/u4619-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: linear-gradient(to bottom,#F7931E ,#F15A24 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
}

#u4710
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background: #F15A24 url("../images/u4710-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: linear-gradient(to bottom,#F7931E ,#F15A24 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
}

#u3579-4,#u3574-4,#u3104-4,#u1177-4,#u4681-4,#u4750-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u3650,#u3611,#u3312,#u3165,#u4697,#u4763
{
	position: absolute;
	background-color: transparent;
}

#u3651,#u3612,#u3313,#u3166,#u4698,#u4764
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u4440,#u3660,#u4574,#u4444,#u3621,#u4588,#u3324,#u4446,#u4590,#u3322,#u4448,#u4592,#u4706,#u4704,#u4708,#u4773,#u4775,#u4777
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u3566
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #F7931E;
}

#u3566:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #7F7F7F;
	background-color: #F7931E;
}

#u3568
{
	vertical-align: top;
	background: url("../images/u3568.png") no-repeat 0px 0px;
	position: relative;
}

#u3566.PamphletThumbSelected #u3568
{
	background: url("../images/u3568-a.png") no-repeat 0px 0px;
}

#u3560
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #F7931E;
}

#u3560:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #7F7F7F;
	background-color: #F7931E;
}

#u3564
{
	vertical-align: top;
	background: url("../images/u3564.png") no-repeat 0px 0px;
	position: relative;
}

#u3560.PamphletThumbSelected #u3564
{
	background: url("../images/u3564-a.png") no-repeat 0px 0px;
}

#u3086
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #F7931E;
}

#u3086:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #7F7F7F;
	background-color: #F7931E;
}

#u3566.PamphletThumbSelected,#u3560.PamphletThumbSelected,#u3086.PamphletThumbSelected
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-color: #F15A24;
	background-color: #662D91;
}

#u3088
{
	vertical-align: top;
	background: url("../images/u3088.png") no-repeat 0px 0px;
	position: relative;
}

#u3086.PamphletThumbSelected #u3088
{
	background: url("../images/u3088-a.png") no-repeat 0px 0px;
}

#u1112
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #F7931E;
}

#u1112:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #000000;
	background-color: #F7931E;
}

#u1113
{
	vertical-align: top;
	background: url("../images/u1113.png") no-repeat 0px 0px;
	position: relative;
}

#u1112:hover #u1113
{
	background: url("../images/u1113-r.png") no-repeat 0px 0px;
}

#u1112.PamphletThumbSelected #u1113
{
	background: url("../images/u1113-a.png") no-repeat 0px 0px;
}

#u4649
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #F7931E;
}

#u4649:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #000000;
	background-color: #F7931E;
}

#u4651
{
	vertical-align: top;
	background: url("../images/u4651.png") no-repeat 0px 0px;
	position: relative;
}

#u4649.PamphletThumbSelected #u4651
{
	background: url("../images/u4651-a.png") no-repeat 0px 0px;
}

#u4740
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #F7931E;
}

#u4740:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #000000;
	background-color: #F7931E;
}

#u1112.PamphletThumbSelected,#u4649.PamphletThumbSelected,#u4740.PamphletThumbSelected
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-color: #F7931E;
	background-color: #662D91;
}

#u4742
{
	vertical-align: top;
	background: url("../images/u4742.png") no-repeat 0px 0px;
	position: relative;
}

#u4740.PamphletThumbSelected #u4742
{
	background: url("../images/u4742-a.png") no-repeat 0px 0px;
}

#u1074
{
	vertical-align: top;
	background: url("../images/u1074.png") no-repeat 9px 9px;
	position: fixed;
}

#u1074.MuseLinkActive
{
	background: url("../images/u1074-a.png") no-repeat 0px 0px;
}

#u1083
{
	vertical-align: top;
	background: url("../images/u1083.png") no-repeat 9px 9px;
	position: fixed;
}

#u1083.MuseLinkActive
{
	background: url("../images/u1083-a.png") no-repeat 0px 0px;
}

#u1076
{
	vertical-align: top;
	background: url("../images/u1076.png") no-repeat 9px 9px;
	position: fixed;
}

#u1076.MuseLinkActive
{
	background: url("../images/u1076-a.png") no-repeat 0px 0px;
}

#pamphletu1186,#u1189,#pamphletu1102,#slideshowu3623,#slideshowu3584,#slideshowu3285,#slideshowu3138,#slideshowu4682,#slideshowu4751,#u1107,#u5068-4,#u5069-4
{
	position: relative;
}

#u5068-4_img,#u5069-4_img
{
	display: block;
	vertical-align: top;
}

