#u1235.PamphletThumbSelected
{
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u146
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: fixed;
	background: #FFFFFF url("../images/topnav.jpg") no-repeat center center;
	background-size: cover !important;
}

#u153
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: fixed;
	background: #FFFFFF url("../images/leftnav.jpg") no-repeat left center;
	background-size: cover !important;
}

#u1230
{
	position: absolute;
}

#u1231
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
}

#u1235
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u1235:hover
{
	border-style: none;
	border-color: transparent;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u140,#u1232,#u286,#u965,#u242,#u247,#u257,#u272
{
	position: fixed;
}

#pamphletu1227,#u1234,#u252,#u929-4,#u930-4
{
	position: relative;
}

#u929-4_img,#u930-4_img
{
	display: block;
	vertical-align: top;
}

