#u2343.PamphletThumbSelected
{
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u2365
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: fixed;
	background: #FFFFFF url("../images/topnav.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2360
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: fixed;
	background: #FFFFFF url("../images/leftnav.jpg") no-repeat left center;
	background-size: cover !important;
}

#u2346
{
	position: absolute;
}

#u2347
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
}

#u2343
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u2343:hover
{
	border-style: none;
	border-color: transparent;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u2378_clip,#u2382_clip
{
	overflow: hidden;
}

#u2384-4,#u2385-4,#u2386-4,#u2389-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u2367,#u2348,#u2361,#u2903,#u2357,#u2337,#u2363,#u2355,#u2335
{
	position: fixed;
}

#pamphletu2339,#u2342,#u2378,#u2380,#u2382,#u2387,#u2354,#u2359-4
{
	position: relative;
}

#u2359-4_img
{
	display: block;
	vertical-align: top;
}

