#u1191.PamphletThumbSelected
{
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u1091
{
	border-style: none;
	border-color: transparent;
	position: fixed;
	background: #FFFFFF url("../images/topnav.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1071
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: fixed;
	background: #FFFFFF url("../images/leftnav.jpg") no-repeat left center;
	background-size: cover !important;
}

#u1199
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
}

#u1191
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u1191:hover
{
	border-style: none;
	border-color: transparent;
}

#u1193,#u1114
{
	position: absolute;
}

#u3565
{
	background: -webkit-gradient(linear, center top, center bottom, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: linear-gradient(to bottom,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=0)";
	border-width: 1px;
	border-style: solid;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u3530
{
	background: -webkit-gradient(linear, center top, center bottom, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: linear-gradient(to bottom,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=0)";
	border-width: 1px;
	border-style: solid;
	position: relative;
}

#u3080
{
	background: -webkit-gradient(linear, center top, center bottom, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: linear-gradient(to bottom,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=0)";
	border-width: 1px;
	border-style: solid;
	position: relative;
}

#u1120
{
	background: #F15A24 url("../images/u1120-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(top,#F7931E ,#F15A24 100%);
	background: linear-gradient(to bottom,#F7931E ,#F15A24 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
}

#u3650,#u3611,#u3312,#u3165
{
	position: absolute;
	background-color: transparent;
}

#u3651,#u3612,#u3313,#u3166
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u3579-7,#u3574-7,#u3104-7,#u1177-7
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u3660,#u3621,#u3324,#u3322
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u3566
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu3566:hover #u3566
{
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u3568
{
	vertical-align: top;
	background: url("../images/u3568.png") no-repeat 0px 0px;
}

#pu3566.PamphletThumbSelected #u3568
{
	background: url("../images/u3568-a.png") no-repeat 0px 0px;
	position: relative;
}

#u3560
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu3560:hover #u3560
{
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u3564
{
	vertical-align: top;
	background: url("../images/u3564.png") no-repeat 0px 0px;
}

#pu3560.PamphletThumbSelected #u3564
{
	background: url("../images/u3564-a.png") no-repeat 0px 0px;
	position: relative;
}

#u3086
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pu3086:hover #u3086
{
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#pu3566.PamphletThumbSelected #u3566,#pu3560.PamphletThumbSelected #u3560,#pu3086.PamphletThumbSelected #u3086
{
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u3088
{
	vertical-align: top;
	background: url("../images/u3088.png") no-repeat 0px 0px;
}

#pu3086.PamphletThumbSelected #u3088
{
	background: url("../images/u3088-a.png") no-repeat 0px 0px;
	position: relative;
}

#u1112
{
	position: absolute;
	border-color: #7F7F7F;
	background-color: transparent;
}

#pu1112:hover #u1112
{
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#pu1112.PamphletThumbSelected #u1112
{
	background-image: none;
	border-style: none;
	border-color: #F7931E;
	background-color: transparent;
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u1113
{
	vertical-align: top;
	background: url("../images/u1113.png") no-repeat 0px 0px;
}

#pu1112:hover #u1113
{
	background: url("../images/u1113-r.png") no-repeat 0px 0px;
	position: relative;
}

#pu1112.PamphletThumbSelected #u1113
{
	background: url("../images/u1113-a.png") no-repeat 0px 0px;
	position: relative;
}

#u1081,#u1089,#u1072,#u2908,#u1085,#u1074,#u1083,#u1076,#u1079
{
	position: fixed;
}

#pamphletu1186,#u1189,#pamphletu1102,#slideshowu3623,#slideshowu3584,#slideshowu3285,#slideshowu3138,#u1107,#pu3566 #u3568,#pu3566:hover #u3568,#pu3560 #u3564,#pu3560:hover #u3564,#pu3086 #u3088,#pu3086:hover #u3088,#pu1112 #u1113,#u1078-4
{
	position: relative;
}

#u1078-4_img
{
	display: block;
	vertical-align: top;
}

