.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 799px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
}

#page_position_content
{
	margin-top: 22px;
	margin-bottom: -58px;
}

#u146
{
	z-index: 2;
	width: 1159px;
	height: 159px;
	top: 0px;
	left: 50%;
	margin-left: -50%;
}

#u153
{
	z-index: 3;
	width: 242px;
	height: 1510px;
	top: 0px;
	left: 0px;
}

#u140
{
	z-index: 4;
	width: 250px;
	top: 0px;
	left: 0px;
}

#pamphletu1227
{
	z-index: 27;
	width: 0.01px;
	height: 78px;
	padding-bottom: 73px;
	margin-left: 694px;
}

#u1230popup
{
	z-index: 28;
}

#u1230
{
	width: 333px;
	top: 66px;
}

#u1231
{
	z-index: 29;
	width: 333px;
	height: 85px;
	margin-right: -10000px;
}

#u1232
{
	z-index: 30;
	width: 257px;
	top: 105px;
	left: 50%;
	margin-left: 243px;
}

#u1234
{
	z-index: 32;
	width: 100px;
	margin-right: -10000px;
	left: 106px;
}

#u1235
{
	width: 100px;
	height: 78px;
}

.ie #u1235
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1235:hover
{
	margin: 0px;
}

.ie #u1235:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1235.PamphletThumbSelected
{
	margin: 0px;
}

#u286
{
	z-index: 15;
	width: 100px;
	top: 22px;
	left: 50%;
	margin-left: 329px;
}

#u965
{
	z-index: 25;
	width: 100px;
	top: 173px;
	left: 72px;
}

#pu252
{
	width: 0.01px;
	left: -107px;
	margin-top: 19px;
	position: relative;
}

#u252
{
	z-index: 10;
	width: 265px;
	height: 58px;
	margin-right: -10000px;
	margin-top: 402px;
}

.ie #u1235.PamphletThumbSelected,.ie #u252
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1645
{
	z-index: 34;
	width: 400px;
	position: relative;
	margin-right: -10000px;
	left: 255px;
}

#u1655
{
	z-index: 36;
	width: 400px;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 640px;
}

#u1660
{
	z-index: 38;
	width: 400px;
	position: relative;
	margin-right: -10000px;
	margin-top: 406px;
	left: 255px;
}

#u1645_clip,#u1660_clip
{
	overflow: hidden;
	width: 400px;
	height: 223px;
}

#u1645_img,#u1660_img
{
	margin: -4px -7px 4px 7px;
}

#u1665-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 223px;
	left: 675px;
}

#u1666-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 305px;
}

#u1667-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 455px;
	left: 305px;
}

#u1668
{
	z-index: 52;
	width: 400px;
	position: relative;
	margin-right: -10000px;
	margin-top: 607px;
	left: 640px;
}

#u1670-4
{
	z-index: 54;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 636px;
	left: 675px;
}

#pu242
{
	width: 0.01px;
	left: -52px;
	top: -730px;
	margin-bottom: -487px;
	position: relative;
}

#pu242_position_content
{
	margin-top: -134px;
	margin-bottom: 621px;
}

#u242
{
	z-index: 6;
	width: 114px;
	top: 293px;
	left: 65px;
}

#u247
{
	z-index: 8;
	width: 147px;
	top: 424px;
	left: 49px;
}

#u257
{
	z-index: 11;
	width: 135px;
	top: 552px;
	left: 55px;
}

#u272
{
	z-index: 13;
	width: 70px;
	top: 728px;
	left: 87px;
}

#pu929-4
{
	width: 0.01px;
	margin-left: 372px;
	margin-top: 62px;
	position: relative;
}

#u929-4
{
	z-index: 17;
	width: 127px;
	margin-right: -10000px;
}

#u930-4
{
	z-index: 21;
	width: 135px;
	margin-right: -10000px;
	left: 168px;
}

body
{
	padding-bottom: 57px;
}

#page .verticalspacer
{
	clear: both;
}

