#u1964
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
	background-size: cover !important;
}

#u1948
{
	vertical-align: top;
	background: url("../../images/u1948.png") no-repeat 0px 0px;
	position: relative;
}

#u1948:hover
{
	background: url("../../images/u1948-r.png") no-repeat 0px 0px;
}

#u1948:active
{
	background: url("../../images/u1948-m.png") no-repeat 0px 0px;
}

#u1948.AccordionPanelTabOpen
{
	background: url("../../images/u1948-a.png") no-repeat 0px 0px;
}

#u1949
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u2785
{
	position: absolute;
}

#u1952_img,#u1950_img,#u1956_img,#u1954_img,#u5088-4_img,#u5089-4_img
{
	display: block;
	vertical-align: top;
}

#u2796
{
	border-width: 1px;
	border-style: solid;
	background-color: transparent;
	position: relative;
}

#u2791,#u2806,#u2801,#u4972,#u4988
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u1962,#u2996,#u1960-3,#u2792-4,#u2797-4,#u2807-4,#u4994-4,#u5003-4,#u5010-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u3865,#u4464,#u4614,#u4460,#u3869,#u4610,#u3867,#u4462,#u4612,#u4997,#u4995,#u4999,#u5006,#u5004,#u5008,#u5011,#u5013,#u5015
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2767
{
	position: absolute;
	border-color: #000000;
	background-color: transparent;
}

#u2767:hover
{
	border-style: none;
	border-color: transparent;
}

#u2767.PamphletThumbSelected
{
	border-color: #000000;
	background-color: transparent;
}

#u2768
{
	vertical-align: top;
	background: url("../../images/u2768.png") no-repeat 0px 0px;
	position: relative;
}

#u2767:hover #u2768
{
	background: url("../../images/u2768-r.png") no-repeat 0px 0px;
}

#u2767.PamphletThumbSelected #u2768
{
	background: url("../../images/u2768-a.png") no-repeat 0px 0px;
}

#u2765
{
	position: absolute;
	border-color: #662D91;
	background-color: transparent;
}

#u2765.PamphletThumbSelected
{
	border-color: #662D91;
}

#u2766
{
	vertical-align: top;
	background: url("../../images/u2766.png") no-repeat 0px 0px;
	position: relative;
}

#u2765:hover #u2766
{
	background: url("../../images/u2766-r.png") no-repeat 0px 0px;
}

#u2765.PamphletThumbSelected #u2766
{
	background: url("../../images/u2766-a.png") no-repeat 0px 0px;
}

#u2772
{
	position: absolute;
	border-color: #662D91;
	background-color: transparent;
}

#u2773
{
	vertical-align: top;
	background: url("../../images/u2773.png") no-repeat 0px 0px;
	position: relative;
}

#u2772:hover #u2773
{
	background: url("../../images/u2773-r.png") no-repeat 0px 0px;
}

#u2772:active #u2773
{
	background: url("../../images/u2773-m.png") no-repeat 0px 0px;
}

#u2772.PamphletThumbSelected #u2773
{
	background: url("../../images/u2773-a.png") no-repeat 0px 0px;
}

#u2770
{
	position: absolute;
	border-color: #662D91;
	background-color: transparent;
}

#u2771
{
	vertical-align: top;
	background: url("../../images/u2771.png") no-repeat 0px 0px;
	position: relative;
}

#u2770:hover #u2771
{
	background: url("../../images/u2771-r.png") no-repeat 0px 0px;
}

#u2770.PamphletThumbSelected #u2771
{
	background: url("../../images/u2771-a.png") no-repeat 0px 0px;
}

#u4984
{
	position: absolute;
	border-color: #662D91;
	background-color: transparent;
}

#u1965,#accordionu1933,#u1947,#u1952,#u1950,#u1956,#u1954,#pamphletu2763,#u5088-4,#u5089-4,#u2764,#u4986-3
{
	position: relative;
}

#u4987
{
	vertical-align: top;
	background: url("../../images/u4987.png") no-repeat 0px 0px;
	position: relative;
}

#u4984.PamphletThumbSelected #u4987
{
	background: url("../../images/u4987-a.png") no-repeat 0px 0px;
}

#u4989
{
	position: absolute;
	border-color: #662D91;
	background-color: transparent;
}

#u2772.PamphletThumbSelected,#u2770.PamphletThumbSelected,#u4984.PamphletThumbSelected,#u4989.PamphletThumbSelected
{
	border-color: #662D91;
	background-color: transparent;
}

#u4992
{
	vertical-align: top;
	background: url("../../images/u4992.png") no-repeat 0px 0px;
	position: relative;
}

#u4989.PamphletThumbSelected #u4992
{
	background: url("../../images/u4992-a.png") no-repeat 0px 0px;
}

.AccordionPanelTab,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* accordion */
{
	cursor: pointer;
}

