#u2501
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-color: #000000;
	position: relative;
	background-size: cover !important;
}

#accordionu2502
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#F7931E ,#000000 100%);
	background: -moz-linear-gradient(left,#F7931E ,#000000 100%);
	background: -ms-linear-gradient(left,#F7931E ,#000000 100%);
	background: -o-linear-gradient(left,#F7931E ,#000000 100%);
	background: linear-gradient(to right,#F7931E ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FF000000', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u2518
{
	vertical-align: top;
	background: url("../../images/u2518.png") no-repeat 0px 0px;
	position: relative;
}

#u2518:hover
{
	background: url("../../images/u2518-r.png") no-repeat 0px 0px;
}

#u2518:active
{
	background: url("../../images/u2518-m.png") no-repeat 0px 0px;
}

#u2518.AccordionPanelTabOpen
{
	background: url("../../images/u2518-a.png") no-repeat 0px 0px;
}

#u2519
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u2520-3
{
	display: block;
	vertical-align: top;
	position: relative;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u2496,#u2499,#accordionu2502wrapper,#u2517,#u2527,#u2523,#u2529,#u2521,#u2525,#u2498-4,#u2495-4
{
	position: relative;
}

#u2498-4_img,#u2495-4_img
{
	display: block;
	vertical-align: top;
}

