#u1886
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
	background-size: cover !important;
}

#u1906
{
	vertical-align: top;
	background: url("../../images/u1906.png") no-repeat 0px 0px;
	position: relative;
}

#u1906:hover
{
	background: url("../../images/u1906-r.png") no-repeat 0px 0px;
}

#u1906:active
{
	background: url("../../images/u1906-m.png") no-repeat 0px 0px;
}

#u1906.AccordionPanelTabOpen
{
	background: url("../../images/u1906-a.png") no-repeat 0px 0px;
}

#u1907
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
	background-size: 100% auto !important;
}

#u1986
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#u1986:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#u1986:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
}

#u1987-4
{
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	color: #C4C4C4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1986:hover #u1987-4
{
	border-style: none;
	border-color: transparent;
}

#u1986:active #u1987-4
{
	border-style: none;
	border-color: transparent;
}

#u1986:hover #u1987-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1986:active #u1987-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1988
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#u1988:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#u1988:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
}

#u1989-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #C4C4C4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1986.PamphletThumbSelected #u1987-4,#u1988:hover #u1989-4
{
	border-style: none;
	border-color: transparent;
}

#u1988:hover #u1989-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1986.PamphletThumbSelected #u1987-4 p,#u1988:active #u1989-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1984
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#u1984:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#u1984:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
}

#u1986.PamphletThumbSelected,#u1988.PamphletThumbSelected,#u1984.PamphletThumbSelected
{
	border-color: #6B6B6B;
	background-color: #F7931E;
}

#u1985-4
{
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	color: #C4C4C4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1984:hover #u1985-4
{
	border-color: #999999;
}

#u1984:active #u1985-4
{
	border-color: #999999;
}

#u1984.PamphletThumbSelected #u1985-4
{
	border-style: none;
	border-color: transparent;
}

#u1984:hover #u1985-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1988.PamphletThumbSelected #u1989-4 p,#u1984:active #u1985-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1984.PamphletThumbSelected #u1985-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1992
{
	position: absolute;
}

#u1997
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u1993
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u1995
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u1916-3,#u1998-12,#u1994-5,#u1996-5
{
	display: block;
	vertical-align: top;
	position: relative;
}

.AccordionPanelTab,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* accordion */
{
	cursor: pointer;
}

#u1889,#u1887,#accordionu1891,#u1905,#u1914,#u1912,#u1908,#u1910,#u1917,#pamphletu1975,#u1983,#u1919-4,#u1920-4
{
	position: relative;
}

#u1919-4_img,#u1920-4_img
{
	display: block;
	vertical-align: top;
}

#u2001
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

