#u2548
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#accordionu2549
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#F7931E ,#000000 100%);
	background: -moz-linear-gradient(left,#F7931E ,#000000 100%);
	background: -ms-linear-gradient(left,#F7931E ,#000000 100%);
	background: -o-linear-gradient(left,#F7931E ,#000000 100%);
	background: linear-gradient(to right,#F7931E ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FF000000', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u2565
{
	vertical-align: top;
	background: url("../../images/u2565.png") no-repeat 0px 0px;
	position: relative;
}

#u2565:hover
{
	background: url("../../images/u2565-r.png") no-repeat 0px 0px;
}

#u2565:active
{
	background: url("../../images/u2565-m.png") no-repeat 0px 0px;
}

#u2565.AccordionPanelTabOpen
{
	background: url("../../images/u2565-a.png") no-repeat 0px 0px;
}

#u2566
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u4484_clip
{
	overflow: hidden;
}

#u2543,#u2974,#u2567-3,#u4468,#u4471-4,#u4472,#u4474-4,#u4480-5,#u4550-4,#u4466,#u4470-5,#u4475,#u4478-4,#u4479-4,#u4481-7,#u4482,#u4488-4,#u4491-5,#u4486,#u4489-4,#u4490-4,#u4492-4,#u4493-4,#u4494,#u4496-4,#u4497-6,#u4498,#u4500,#u4504-4,#u4505-4,#u4507-5,#u4508-4,#u4502,#u4506-4,#u4509-4,#u4510,#u4512-4,#u4513-6,#u4514,#u4516-4,#u4517-4,#u4518,#u4520-4,#u4521-7,#u4522,#u4524-4,#u4525-6,#u4526,#u4528-4,#u4529-4,#u4530,#u4532-4,#u4533-4,#u4534,#u4540-4,#u4543-5,#u4536,#u4541-4,#u4544-4,#u4538,#u4542-4,#u4545-4,#u4546,#u4548-4,#u4549-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u2546,#u2564,#u2574,#u2570,#u2576,#u2568,#u4484,#u5082-4,#u5083-4
{
	position: relative;
}

#u2574_img,#u2570_img,#u2576_img,#u2568_img,#u5082-4_img,#u5083-4_img
{
	display: block;
	vertical-align: top;
}

