#u2621
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	background-size: cover !important;
}

#accordionu2589
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#F7931E ,#000000 100%);
	background: -moz-linear-gradient(left,#F7931E ,#000000 100%);
	background: -ms-linear-gradient(left,#F7931E ,#000000 100%);
	background: -o-linear-gradient(left,#F7931E ,#000000 100%);
	background: linear-gradient(to right,#F7931E ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FF000000', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u2605
{
	vertical-align: top;
	background: url("../../images/u2605.png") no-repeat 0px 0px;
	position: relative;
}

#u2605:hover
{
	background: url("../../images/u2605-r.png") no-repeat 0px 0px;
}

#u2605:active
{
	background: url("../../images/u2605-m.png") no-repeat 0px 0px;
}

#u2605.AccordionPanelTabOpen
{
	background: url("../../images/u2605-a.png") no-repeat 0px 0px;
}

#u2606
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u2609-3
{
	display: block;
	vertical-align: top;
	position: relative;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u2622,#u2986,#u2619,#accordionu2589wrapper,#u2604,#u2610,#u2612,#u2614,#u2616,#u2607,#u2588-4,#u2618-4
{
	position: relative;
}

#u2588-4_img,#u2618-4_img
{
	display: block;
	vertical-align: top;
}

