#u2548
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#accordionu2549
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#F7931E ,#000000 100%);
	background: -moz-linear-gradient(left,#F7931E ,#000000 100%);
	background: -ms-linear-gradient(left,#F7931E ,#000000 100%);
	background: -o-linear-gradient(left,#F7931E ,#000000 100%);
	background: linear-gradient(to right,#F7931E ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FF000000', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u2565
{
	vertical-align: top;
	background: url("../../images/u2565.png") no-repeat 0px 0px;
	position: relative;
}

#u2565:hover
{
	background: url("../../images/u2565-r.png") no-repeat 0px 0px;
}

#u2565:active
{
	background: url("../../images/u2565-m.png") no-repeat 0px 0px;
}

#u2565.AccordionPanelTabOpen
{
	background: url("../../images/u2565-a.png") no-repeat 0px 0px;
}

#u2566
{
	background: -webkit-gradient(linear, left center, right center, from(#F7931E),color-stop(100%, #F15A24));
	background: -webkit-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -moz-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -ms-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: -o-linear-gradient(left,#F7931E ,#F15A24 100%);
	background: linear-gradient(to right,#F7931E ,#F15A24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF7931E, endColorstr=#FFF15A24, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7931E', endColorstr='#FFF15A24', GradientType=1)";
	border-style: none;
	border-color: transparent;
	position: relative;
}

#u2567-3
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u2543,#u2974,#u2546,#accordionu2549wrapper,#u2564,#u2574,#u2570,#u2576,#u2568,#u2572
{
	position: relative;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

